<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" /><section name="Crusher" type="Talifun.Web.Crusher.Config.CrusherSection, Talifun.Web" requirePermission="false" allowDefinition="MachineToApplication" /></configSections>
  <connectionStrings>
    <add name="UCRMS_DBConnection" connectionString="Data Source=BITM-TRAINER-30\SQLEXPRESS;Initial Catalog=UCRMS_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers><pages>
			<controls>
				<!-- If you want to use a web controls instead of calling CrusherHelper in the view -->
				<!--
				<add tagPrefix="talifun" namespace="Talifun.Web.Crusher" assembly="Talifun.Web"/>
				-->
			</controls>
		</pages><httpModules>
			<!-- Only recommended when doing local development or using a CMS thats allows people to change stylesheets
			rather use Talifun.Crusher.exe as part of your build script -->
			<!--
			<add name="CrusherModule" type="Talifun.Web.Crusher.CrusherModule, Talifun.Web"/>
			-->
		</httpModules></system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      
      <remove name="FormsAuthenticationModule" />
    <!-- Only recommended when doing local development or using a CMS thats allows people to change stylesheets
			rather use Talifun.Crusher.exe as part of your build script --><!--
			<add name="CrusherModule" type="Talifun.Web.Crusher.CrusherModule, Talifun.Web" />
			--></modules>
  <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<dotless minifyCss="false" cache="true" web="false" /><Crusher querystringKeyName="etag">
		<!-- outputFilePath is the identifier for the cssGroup, so make sure its unique for each cssGroup  -->
		<cssGroups>
			<!-- Css group to crush -->
			<!--
			<cssGroup name="SiteCss" debug="false" appendHash="true" outputFilePath="~/Content/Css/crushed.site.css">
				<files>
					<file name="Default" filePath="~/Content/Css/site.css" compressionType="Hybrid" />
					<file name="JQueryUI" filePath="~/Content/Css/base/jquery.ui.all.css" compressionType="Hybrid" />
				</files>
			</cssGroup>
			<cssGroup name="PrintSiteCss" Media="print" debug="false" appendHash="true" outputFilePath="~/Content/Css/crushed.print.site.css">
				<files>
					<file name="Default" filePath="~/Content/Css/print.site.css" compressionType="Hybrid" />
				</files>
			</cssGroup>
			-->
		</cssGroups>
		<!-- outputFilePath is the identifier for the jsGroup, so make sure its unique for each jsGroup  -->
		<jsGroups>
			<!-- Js group to crush  -->
			<!--
			<jsGroup name="SiteJs" debug="false" outputFilePath="~/Scripts/crushed.site.js">
					<files>
							<file name="JQuery" filePath="~/Scripts/jquery-1.5.1.js" compressionType="Min"/>
							<file name="JQueryUI" filePath="~/Scripts/jquery-ui-1.8.11.js" compressionType="Min"/>
							<file name="JQueryUnobtrusiveAjax" filePath="~/Scripts/jquery.unobtrusive-ajax.js" compressionType="Min"/>
							<file name="JQueryValidate" filePath="~/Scripts/jquery.validate.js" compressionType="Min"/>
							<file name="JQueryValidateUnobtrusive" filePath="~/Scripts/jquery.validate.unobtrusive.js" compressionType="Min"/>
							<file name="Modernizr" filePath="~/Scripts/modernizr-1.7.js" compressionType="Min"/>
							
							<file name="MicrosoftAjax" filePath="~/Scripts/MicrosoftAjax.debug.js" compressionType="Min"/>
							<file name="MicrosoftMvcAjax" filePath="~/Scripts/MicrosoftMvcAjax.debug.js" compressionType="Min"/>
							<file name="MicrosoftMvcValidation" filePath="~/Scripts/MicrosoftMvcValidation.debug.js" compressionType="Min"/>
					</files>
			</jsGroup>
			-->
    
		</jsGroups>
	</Crusher></configuration>
